

<main class="container" style="margin-top : 20px;">
  <div class="card-deck">
    <div class="card" style="border:none; text-align:right;">
      <img class="card-img-top rounded-circle" style="height:150px; width: 150px; align-self: flex-end;" src="/images/profil.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Luca Montaigut</h5>
        <p class="card-text">Developpeur débutant chez THP</p>
      </div>
    </div>

    <div class="card" style="border:none;">
      <img class="card-img-top rounded-circle" style="height:150px; width: 150px" src="/images/alfred.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Alfred</h5>
        <p class="card-text">Mon fidèle poisson combattant, assistant quotidien et soutien sans faille dans la galère.</p>
      </div>
    </div>
  </div>
</main>
<footer id="lazyrabbit" style="display: flex; flex-direction: row; justify-content: center; align-items: center; line-height: 1em; font-size: 5em; margin-bottom:20px">
  <div>
    <p>  (\(\</p>
    <p>  ( -.-)</p>
    <p>  o_(")(")</p>
  </div>  
  <div>
    <h1 style="font-size: 1em">
      Team LazyRabbit
    </h1>
  </div>
</footer>